<% this.title = '排名' %>
<%- include('header') -%>

<div class="padding">
	<table class="ui very basic center aligned table" style="table-layout: fixed; ">
	    <thead>
            <tr>
                <th style="width: 60px; ">#</th>
                <th style="width: 150px; ">用户名</th>
                <th style="width: 100px; ">使用步数</th>
            </tr>
	    </thead>
	    <tbody>
            <% 
            let i = 0;
            for (let user of ranklist) {
                ++i;
            %>
            <tr>
	        	<td><b><%= i %></b></td>
	        	<td><b><%= user.username %></b></td>
	        	<td><%= user.mazestep %></td>
	        </tr>
            <% } %>
	    </tbody>
	</table>
</div>
<%- include('footer') -%>
